.grid_1.alpha
  .profile_nav
    %ul
      %li.active.section#personal_li
        =link_to '#personal', :class => "active" do      
          %span.icon u
          Personal Info
      %li.section#account_li
        =link_to '#account' do
          %span.icon ⚙
          Account Info 
      %li.active_section
        %span.icon ←
.grid_11.omega
  .profile.round
    #personal_section
      .profile_top
        .name
          %h1= "Edit Profile - #{@patient.username}"
          %span.user_subtitle="Member Since #{@user.created_at.strftime("%B %d, %Y")}"
        .gravatar.box_shadow
          = gravatar_for @user, {:size => 200}
          .personal_info
            -if current_user?(@user)
              %ul
                %li
                  %span.field="Change Image @ "
                  %span.data="<a href='http://gravatar.com/emails' target='_blank'>Gravatar.com</a>".html_safe
        .edit_profile
          =link_to current_user.patient, :class => "edit button ivfblue" do
            %span.icon E
            View Profile
      .profile_body
        =form_for @patient, :as => :personal_info, :url => patient_path(@patient), :method => :put, :remote => true do |f|
          %ul
            %li
              %span.field=f.label :first_name
              %span.data=f.text_field :first_name
            %li
              %span.field=f.label :last_name
              %span.data=f.text_field :last_name
            %li
              %span.field=f.label :username, 'Username'
              %span.data=f.text_field :username
            %li
              %span.field=f.label :gender
              -gender_select = options_for_select([['-'],['Male','male'],['Female','female']], @patient.gender)
              %span.data=f.select(:gender, gender_select, {},:class => 'ivfblue')
            %li
              %span.field=f.label :zip_code
              %span.data=f.text_field :zip_code
            %li
              %span.field=f.label :birthday
              %span.data=f.date_select :birthday, {:start_year => Time.now.year, :end_year => 1900, :use_short_month => true, :order => [:month, :day, :year], :prompt => {:month => 'Month', :day => 'Day', :year => 'Year'}},:class => "ivfblue"
            %li
              %span.field=f.label :ethnicity
              -ethnicity_select = options_for_select([['-'],['Caucasian','caucasian'],['Ease Asian','east_asian'],['South Asian','south_asian'],['Arabic','arabic'],['African','african'],['Hispanic','hispanic'],['Native American','native_american'],['Other','other']], @patient.ethnicity)
              %span.data=f.select(:ethnicity, ethnicity_select,{}, :class => 'ivfblue')
            %li
              %span.field=f.label :phone, 'Phone # (Clinic Contact)'
              %span.data=f.text_field :phone, :class => "phone_number"
            %li
              %span.field=f.label :previous_cycles
              -cycles_select = options_for_select([['-'],['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]], @patient.previous_cycles)
              %span.data=f.select(:previous_cycles, cycles_select,{}, :class => 'ivfblue')
            %li
              %span.field=f.label :infertility_diagnosis
              -diagnosis_select = options_for_select([['-'],['Endometriosis','endometriosis'],['Low Ovarian Reserve','diminished_ovarian_reserve'],['Multi-Female Factors','multiple_female_factors'],['Ovulatory Dysfunction','ovulatory_dysfunction'],['Tubal Factor','tubal_factor'],['Female/Male Factors','female_and_male_factors'],['Male Factor','male_factor'],['Other Factor','other_factor'],['Uterine Factor','uterine_factor'],['Unknown','unknown_factor']], @patient.infertility_diagnosis)
              %span.data=f.select(:infertility_diagnosis, diagnosis_select,{}, :class => 'ivfblue')
            %li.about_me
              %span.field=f.label :about
              %span.data=f.text_area :about
            %li.update_button
              =f.submit "Update.", :class => "button ivfblue"
            %li
              .update_results.hidden.round.white
    #account_section.hidden
      -if current_user?(@user)
        .profile_top
          .name
            %h1 Update Account Information
            %span.user_subtitle="Edit your email and password here."
          .edit_profile
            =link_to current_user.patient, :class => "edit button ivfblue" do
              %span.icon E
              View Profile
        .profile_body
          =form_for @user, :as => :account_info, :url => user_path(@user), :method => :put, :remote => true do |f|
            %ul
              %li
                %span.field=f.label :email
                %span.data=f.email_field :email
              %li
                %span.field=f.label :password
                %span.data=f.password_field :password
              %li
                %span.field=f.label :password_confirmation
                %span.data=f.password_field :password_confirmation
              %li.update_button
                =f.submit "Update.", :class => "button ivfblue"
              %li
                .update_results.hidden.round.white

:javascript
  $(document).ready(function(){
    $('input.phone_number').mask('(999) 999-9999');  
    
    var urlitems=window.location.href.split("#");
    var curpage=urlitems[1];
    if(curpage==null){
    
    }
    else{
      if(curpage=="personal"){
        $('li.active_section').animate({top:'0px'},500);
      }
      else if(curpage=="account"){
        $('li.active_section').animate({top:'80px'},500);
      }
      var menu_item = 'li#' + curpage + '_li a';
      $(menu_item).addClass('active');
      $(menu_item).parent().siblings().children().removeClass('active');
      
      var show_section = "div#" + curpage + "_section";  
      $(show_section).siblings().fadeOut(250, function(){
        setTimeout(function(){
          $(show_section).fadeIn(250);
        }, 250);
      });
    }
    
    $('div.profile_nav ul li.section a').click(function(){
      $(this).parent().siblings().children().removeClass('active');
      $(this).addClass('active');
      var section_id = $(this).parent().attr('id');
      if(section_id=="personal_li"){
        $('li.active_section').animate({top:'0px'},500);
      }
      else if(section_id=="account_li"){
        $('li.active_section').animate({top:'80px'},500);
      }
      var show_section = "div#" + section_id.split("_")[0] + "_section";
      $(show_section).siblings().fadeOut(250, function(){
        setTimeout(function(){
          $(show_section).fadeIn(250);
        }, 250);
      });
    });
  });