var server_response = <%= @response %>;
if(parseInt(server_response)===5){
	alert("You have already contacted 5 clinics.");
}
else{
	$('li.contact').html("<span class='button white'>Contact Request Sent</span>");	
	if(parseInt(server_response)===3){
		alert("You have " + (4 - parseInt(server_response)) + " clinic left to contact.");
	}
	else{
		alert("You have " + (4-parseInt(server_response)) + " clinics left to contact.");
	}
}