%h1 Advertise With Us
.grid_8.alpha
  .twothirds.left
    %p IVF Reports is looking for sponsors interested in getting their product, service, or message in front of patients that may benefit. If you are interested in advertising with us, please contact IVF Reports at info@ivfreports.org or call 646.470.7422.
.grid_4.omega
  .third.right
    .advertisement.round
      %h2 Your Advertisement Here.
      %img{:src => "#{asset_path 'logo.png'}", :width => '240', :style => "margin-bottom:60px;"}