<div class="grid_4 alpha">
  <div class="third left">
    <h2 class="welcome">WELCOME TO IVF REPORTS</h2>
  </div>
</div>
<div class="grid_4">
  <div class="third">  
  <h2>A Fair Ranking System for IVF Clinics</h2>
  <p>IVF Reports is an independent organization dedicated to providing accurate and useful information about in vitro fertilization (IVF) clinics in the USA.</p>
  <h2>The Ranking System</h2>
  <p>To quantify safety, quality and consistency, we have gathered publicly available statistics from the Society for Assisted Reproductive Technology, and we have made use of two key measurements: the average number of embryos ransferred per cycle, and the average implantation rate per embryo.</p>
  </div>
</div>
<div class="grid_4 omega">
  <div class="third right">
    <%= render 'layouts/advertisement' %>
  </div>
</div>