/*SHOW: CLINIC PROFILE PAGE*/
.clinic_profile_nav{
	width:80px;
	ul.clinic_nav{
		display:inline-block;width:100%;padding:0px;margin:0px;float:left;list-style:none;margin-top:20px;position:relative;padding-left:6px;
		li{
			display:inline-block;width:100%;padding:0px;margin:0px;float:left;list-style-type:none;height:80px;text-align:center;font-size:12px;position:relative;cursor:pointer;
			a{
				text-decoration:none;color:#b5b5b5;display:block;height:80px;cursor:pointer;
				span.icon {display:inline-block;width:100%;font-size:36px;}
				&.active{
					color:#0b3542;opacity:1.0;
				}
				&:hover{
					color:#0b3542;opacity:1.0;
				}
				
			}
			&.active_section{
				position:absolute;top:0px;left:8px;line-height:50px;opacity:1.0;
				span.icon{
					width:100%;display:inline-block;font-size:15px;color:#0b3542;text-align:right;
				}
			}
		}
	}
}
.clinic_profile {
	width:836px;margin:12px;background:#0b3542;display:inline-block;min-height:400px;margin-bottom:24px;
	.profile_top {
		display:inline-block;float:left;height:50px;border-bottom:1px solid #cccccc;width:812px;padding:12px;
		div.name {
			display:inline-block;float:left;height:50px;width:480px;overflow:hidden;position:relative;
			h1 {
				margin-left:10px;margin-bottom:0px;line-height:40px;color:#ffffff;display:inline-block;width:480px;overflow:hidden;height:35px;
			}
			span{
				display:inline-block;float:left;
				&.user_subtitle{
					font-size:12px;margin-left:12px;height:18px;color:#cccccc;
				}
			}
		}
		h2{
			padding:0px;margin:0px;margin-left:10px;margin-bottom:0px;line-height:50px;color:#0b3542;font-size:24px;font-family:'Lato', Arial, sans-serif;
		}
		div.gravatar {
			display:inline-block;float:right;border:6px solid #ffffff;background:#ffffff;
			.personal_info{
				ul{
					display:inline-block;width:200px;margin:0px;padding:0px;list-style:none;float:left;margin-top:12px;
					li{
						display:inline-block;width:100%;margin:0px;padding:0px;list-style-type:none;float:left;overflow:hidden;height:16px;line-height:16px;
						span{
							&.field{
								font-size:13px;float:left;text-align:left;overflow:hidden;
								a{
									text-decoration:none;color:#ffffff;font-weight:bold;display:inline;
								}
							}
							&.data{
								font-size:12px;float:right;text-align:left;overflow:hidden;
								a{
									text-decoration:none;color:#ffffff;font-weight:bold;
								}
							}
						}
						&.location{
							width:100%;text-align:center;
						}
					}
				}
			}
		}
		div.edit_profile {
			height:50px;line-height:50px;float:right;display:inline-block;margin-right:12px;
			ul.zip_search{
				display:inline-block;float:right;list-style:none;padding:0px;margin:0px;
				li{
					display:inline-block;float:right;width:100%;list-style-type:none;padding:0px;margin:0px;
					span{
						&.label{
							
						}
						&.select{
							
						}
						&.submit{
							
						}
					}
				}
			}
		}
	}
	.profile_body{
		width:812px;padding:12px;display:inline-block;max-height:400px;overflow:scroll;
		#tabs{
			width:580px;
			.tab_content{
				width:580px;display:inline-block;
			}
		}
		ul.reviews{
			display:inline-block;width:588px;margin:0px;padding:0px;list-style:none;float:left;margin-left:12px;
			li{
				display:inline-block;width:100%;margin:0px;padding:0px;list-style-type:none;float:left;color:#ffffff;margin-bottom:24px;
				&.single_review{
					height:auto;
					span{
						display:inline-block;
						&.review_title{
							font-size:18px;display:inline-block;font-family:'Lato', Arial, sans-serif;width:400px;
						}
						&.review_stars{
							display:inline-block;float:right;
							span.icon{
								float:right;display:inline-block;
								&.permyellow{
									color:#FFB00F;
								}
							}
						}
						&.review_author{
							a{
								text-decoration:none;font-weight:bold;color:#ffffff;
							}
						}
						&.review_date{
							float:right;display:inline-block;
						}
					}
					.review_content {
						display:inline-block;text-align:justify;font-weight:300;line-height:18px;margin-top:18px;
					}
				}
			}
		}
		ul{
			display:inline-block;width:588px;margin:0px;padding:0px;list-style:none;float:left;margin-left:12px;
			&.ranking_tabs {
				width:auto;width:553px;
				li{
					width:89px;text-align:center;
					a{
						display:inline-block;text-align:center;width:90px;
					}
				}
			}
			li{
				display:inline-block;width:100%;margin:0px;padding:0px;list-style-type:none;float:left;height:40px;line-height:40px;
				&.about_me{
					line-height:20px;height:auto;margin-top:12px;
				}
				span{
					&.field{
						width:216px;text-align:right;display:inline-block;font-weight:bold;float:left;padding-right:24px;overflow:hidden;color:#ffffff;
					}
					&.data{
						width:340px;text-align:left;display:inline-block;float:right;overflow:hidden;color:#ffffff;
						input{
							height:18px;line-height:18px;font-size:15px;color:#0b3542;
						}
						select{
							height:18px;line-height:18px;
						}
						textarea{
							height:200px;
						}
					}
					&.about_me{
						text-align:justify;
					}
				}
				&.update_button{
					text-align:center;margin-top:12px;
				}
			}
		}
		
		ul.personal_rec_table {
			width:100%;display:inline-block;float:left;padding:0px;margin:0px;margin-left:12px;
			li {
				height:50px;width:100%;display:inline-block;float:left;padding:0px;margin:0px;margin-bottom:12px;overflow:hidden;
				span.clinic_rec_rank {
					height:48px;line-height:48px;display:inline-block;text-align:center;width:50px;float:left;font-size:18px;color:#ffffff;font-weight:bold;margin-right:24px;
				}
				a.rank_link {
					text-decoration:none;
					&:hover {
						color:#7895a3;
					}
				}
				span.clinic_name {
					width:460px;display:inline-block;height:20px;line-height:20px;float:left;overflow:hidden;margin-top:6px;
					a {
						text-decoration:none;color:#325d5d;
						&:hover {
							color:#102b42;
						}
					}
				}
				span.clinic_location {
					width:460px;display:inline-block;height:20px;line-height:20px;float:left;color:#666666;font-size:14px;
				}
			}
		}
		ul.contacted{
			display:inline-block;float:left;padding:0px;margin:0px;
			li{
				height:20px;width:100%;display:inline-block;float:left;padding:0px;margin:0px;margin-bottom:12px;overflow:hidden;line-height:20px;
			}
		}
		div.update_results {
			margin-bottom:20px;text-align:center;line-height:30px;width:100%;display:inline-block;float:left;margin-top:20px;min-height:30px;margin-bottom:24px;
			&.hidden {
				display:none;
			}
			&.success {
				color:#009900;
			}
			&.error {
				color:#990000;
			}
			span.close_button {
				display:inline-block;float:right;cursor:pointer;color:#325d5d;font-size:16px;margin-right:5px;
			}
		}
		table.score_table{
			width:100%;
			tr{
				width:100%;border-bottom:1px solid #cccccc;
				&:last-child{
					border-bottom:0px;
				}
				td{
					height:60px;line-height:60px;
					&.score_label{
						text-align:left;padding-left:12px;
					}
					&.score_result{
						text-align:right;padding-right:12px;
					}
				}
			}
		}
		.graph{
			display:inline-block;width:49%;float:left;
			&:last-child{
				margin-left:15px;
			}
			h2{
				color:#ffffff;text-align:center;
			}
			ul#select-age{
				display:inline-block;width:96%;margin:0px;padding:0px;list-style:none;padding-left:4%;
				li{
					display:inline-block;width:19%;height:20px;float:left;padding:0px;margin:0px;list-style-type:none;text-align:center;border:1px solid #cccccc;background:#ffffff;color:#0b3542;line-height:20px;cursor:pointer;
					&.ui-selected{
						color:#ffffff;background:#0b3542;
					}
				}
			}
			.legend{
				text-align:center;font-size:12px;color:#ffffff;
			}
		}
	}
}

